body, div, ul, li {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0; }

ul, li {
  list-style: none; }

body {
  background-color: rgba(0, 0, 0, 0.8); }

#canvasPoint {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.nav-logo {
  height: 260px;
  width: 260px;
  position: relative;
  z-index: 2;
  background: url("GSLT.jpeg") no-repeat;
  transform: translate(590px, 250px);
  border: 1px solid red;
  border-radius: 50%; }
  .nav-logo canvas {
    position: absolute;
    height: 302px;
    width: 302px;
    top: -22px;
    left: -22px; }

.items {
  position: absolute;
  z-index: 49;
  left: 130px;
  top: 130px;
  width: 2px;
  height: 2px;
  background-color: red;
  border-radius: 50%; }
  .items .item {
    position: absolute;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    background-color: yellowgreen;
    border-radius: 50%; }
    .items .item:before {
      content: '';
      top: 0;
      left: 0;
      margin-top: -6px;
      margin-left: -6px;
      z-index: 59;
      position: absolute;
      width: 60px;
      height: 60px;
      border: 1px solid red;
      border-radius: 50%; }
    .items .item:after {
      content: '';
      z-index: 59;
      top: 0;
      left: 0;
      margin-top: 4px;
      margin-left: 4px;
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid bisque;
      border-radius: 50%; }
    .items .item:hover:after {
      display: none; }
    .items .item:hover:before {
      display: none; }

.items .item:nth-child(1) {
  top: -150px;
  left: 0px; }

.items .item:nth-child(2) {
  top: -75px;
  left: 130px; }

.items .item:nth-child(3) {
  top: 75px;
  left: 130px; }

.items .item:nth-child(4) {
  top: 150px;
  left: 1.8px; }

.items .item:nth-child(5) {
  top: 75px;
  left: -130px; }

.items .item:nth-child(6) {
  top: -75px;
  left: -130px; }
