body,ul,li{padding: 0;margin: 0;}

#chart{
    width:700px;
    height:500px;
}
.bg{
    width:700px;
    height:500px;
    background: url("./bg.jpg") 0 0 ;
    background-size: 700px 500px;
    margin:100px auto;
}