@charset "UTF-8";
/*颜色配置相关*/
body, ul, li {
  padding: 0;
  margin: 0; }

.ued-cityPicker-widget {
  position: absolute;
  background-color: #ffffff;
  font: normal 14px 'Microsoft YaHei';
  line-height: 34px; }
  .ued-cityPicker-widget .picker-items {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 130px;
    height: 36px;
    margin: 10px 10px;
    padding: 0 10px;
    border-radius: 4px;
    color: #b6c0cf;
    border: 1px solid #d2d8e3; }
    .ued-cityPicker-widget .picker-items:hover {
      border-color: #a2aebf;
      color: #b6c0cf; }
    .ued-cityPicker-widget .picker-items.curr {
      border-color: #d2d8e3;
      color: #373e4b; }
    .ued-cityPicker-widget .picker-items.curr:hover {
      border-color: #20a0ff; }
  .ued-cityPicker-widget .item-loading-disable {
    border-color: #dee3ed;
    background-color: #f9fafc;
    cursor: not-allowed; }
    .ued-cityPicker-widget .item-loading-disable:hover {
      border-color: #dee3ed; }
      .ued-cityPicker-widget .item-loading-disable:hover .triangle {
        border-color: #b6c0cf transparent; }
  .ued-cityPicker-widget .item-disable {
    border-color: #dee3ed;
    background-color: #f9fafc;
    cursor: not-allowed; }
    .ued-cityPicker-widget .item-disable:hover {
      border-color: #dee3ed; }
      .ued-cityPicker-widget .item-disable:hover .triangle {
        border-color: #b6c0cf transparent; }
  .ued-cityPicker-widget .item-loading-hidden {
    display: none !important; }
  .ued-cityPicker-widget .item-hidden {
    display: none; }
  .ued-cityPicker-widget.font-large {
    line-height: 40px; }
    .ued-cityPicker-widget.font-large .picker-items {
      height: 40px; }
      .ued-cityPicker-widget.font-large .picker-items .triangle {
        top: 14px; }
  .ued-cityPicker-widget.font-small {
    line-height: 30px; }
    .ued-cityPicker-widget.font-small .picker-items {
      height: 30px; }
      .ued-cityPicker-widget.font-small .picker-items .triangle {
        top: 9px; }
  .ued-cityPicker-widget.font-mini {
    line-height: 26px; }
    .ued-cityPicker-widget.font-mini .picker-items {
      height: 26px; }
      .ued-cityPicker-widget.font-mini .picker-items .triangle {
        top: 7px; }

.picker-items .selected-item {
  display: inline-block;
  margin-right: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.picker-items .triangle {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 0;
  height: 0;
  border-color: #b6c0cf transparent;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-radius: 4px;
  transition: all .1s; }

.picker-items .drop-item {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  margin-top: 5px;
  border: 1px solid #d2d8e3;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  min-height: 100px;
  max-height: 200px;
  color: #4f5a69;
  transition: all .3s;
  overflow-x: hidden;
  overflow-y: auto; }
  .picker-items .drop-item li {
    padding-left: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .picker-items .drop-item li:first-child {
      padding-left: 10px; }
    .picker-items .drop-item li:hover {
      background-color: #eff2f7;
      color: #4f5a69; }
    .picker-items .drop-item li.curr {
      background-color: #20a0ff;
      color: #ffffff; }
  .picker-items .drop-item::-webkit-scrollbar {
    width: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 2px;
    border-color: #b6c0cf; }
  .picker-items .drop-item::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 4px;
    background: #b6c0cf;
    cursor: pointer; }

.picker-items:hover {
  border-color: #a2aebf; }
  .picker-items:hover .triangle {
    border-color: #8590a0 transparent; }
