/*颜色配置相关*/
$bodColor:        #d2d8e3; //边框颜色
$bodHovColor:  #a2aebf; //边框hover颜色
$bodDisColor:  #dee3ed; //禁用时边框颜色

$uiBg:          #ffffff;  //组件背景色
$uiFont:        #4f5a69;  //文字颜色

$uiBodNor:      #d2d8e3 ;//组件未选择状态边框色
$uiFonNor:      #b6c0cf;//组件未选择状态边框色

$uiBodHov:      #a2aebf ;//组件hover状态边框色
$uiFonHov:      #b6c0cf ;//组件未选择状态文字色

$uiBodCur:      #d2d8e3 ;//组件选中状态边框色
$uiFonCur:      #373e4b ;//组件未选择状态文字色

$uiBodMix:      #20a0ff ;//组件有选中项hover状态边框色

$uiBodDis:      #f2f4f8 ;//组件禁选择状态边框色
$uiFonDis:      #b6c0cf ;//组件禁选择状态文字色
$uiBgDis:       #f9fafc;//组件禁选择状态背景色

$tagColor:        #b6c0cf;  //向下三角颜色
$tagHovColor:     #8590a0;  //向下hover颜色

$itemHovBg:       #eff2f7;  //下拉框组件被hover时的背景色
$itemHovFont:     #4f5a69;  //下拉框组件被hover时的体色

$itemCurrBg:       #20a0ff;  //下拉框组件被选中时的背景色
$itemCurrFont:     #ffffff;  //下拉框组件被选中时的字体色

$itemDisBg:       #f9fafc;  //下拉框组件被禁用时的背景色
$itemDisFont:     #fff;  //下拉框组件被禁用时的体色

body,ul,li{padding: 0;margin: 0;}

.ued-cityPicker-widget{
  position: absolute;
  background-color: $uiBg;
  font:normal 14px 'Microsoft YaHei';
  line-height: 34px;
  .picker-items{
    box-sizing: border-box;
    position: relative;
    float:left;
    width:130px;
    height:36px;
    margin:10px 10px;
    padding: 0 10px;
    border-radius: 4px;
    color: $uiFonNor;
    border: 1px solid $uiBodNor;
    &:hover{
      border-color: $uiBodHov;
      color: $uiFonNor;
    }
    &.curr{
      border-color: $uiBodCur;
      color: $uiFonCur;
    }
    &.curr:hover{
      border-color: $uiBodMix;
    }
  }
  .item-loading-disable{
    border-color: $bodDisColor;
    background-color: $uiBgDis;
    cursor: not-allowed;
    &:hover{
      border-color: $bodDisColor;
      .triangle{
        border-color: $tagColor transparent;
      }
    }
  }
  .item-disable{
    border-color: $bodDisColor;
    background-color: $uiBgDis;
    cursor: not-allowed;
    &:hover{
      border-color: $bodDisColor;
      .triangle{
        border-color: $tagColor transparent;
      }
    }
  }
  .item-loading-hidden{   //用于控制该项永不显示；
    display: none !important;
  }
  .item-hidden{
    display: none;
  }
  &.font-large{
    line-height: 40px;
    .picker-items{
      height:40px;
      .triangle{
        top:14px;
      }
    }
  }
  &.font-small{
    line-height: 30px;
    .picker-items{
      height:30px;
      .triangle{
        top:9px;
      }
    }
  }
  &.font-mini{
    line-height: 26px;
    .picker-items{
      height:26px;
      .triangle{
        top:7px;
      }
    }
  }
}
.picker-items{
  .selected-item{
    display: inline-block;
    margin-right: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .triangle{
    position: absolute;
    right:5px;
    top:12px;
    width: 0;
    height:0;
    border-color: $tagColor transparent;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-radius: 4px;
    transition: all .1s;
  }
  .drop-item{
    position: absolute;
    display: none;
    top:100%;
    left:0;
    margin-top: 5px;
    border: 1px solid $bodColor;
    background-color: $uiBg;
    width:100%;
    box-sizing: border-box;
    min-height:100px;
    max-height:200px;
    color: $uiFont;
    transition: all .3s;
    overflow-x: hidden;
    overflow-y: auto;
    li{
      padding-left: 5px;
      width:100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:first-child{
        padding-left: 10px;
      }
      &:hover{
        background-color: $itemHovBg;
        color: $itemHovFont;
      }
      &.curr{
        background-color: $itemCurrBg;
        color: $itemCurrFont;
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 2px;
      border-color: #b6c0cf;
    }
    &::-webkit-scrollbar-thumb{
      height:50px;
      border-radius: 4px;
      background:#b6c0cf;
      cursor:pointer;
    }
  }
  &:hover{
    border-color: $bodHovColor;
    .triangle{
      border-color: $tagHovColor transparent;
    }
  }
}