@charset "UTF-8";
/*颜色配置相关*/
body, ul, li {
  padding: 0;
  margin: 0; }

.ued-cityPicker-widget {
  position: absolute;
  background-color: #fff; }

.items {
  position: relative;
  float: left;
  min-width: 110px;
  height: 32px;
  margin: 10px 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #d2d8e3; }
  .items .selected-item {
    display: inline-block;
    margin-right: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 32px; }
  .items .triangle {
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
    height: 0;
    border-color: #b6c0cf transparent;
    border-style: solid;
    border-width: 9px 9px 0 9px; }
  .items .drop-item {
    position: absolute;
    display: none;
    top: 36px;
    left: -2px;
    border: 1px solid #d2d8e3;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    max-height: 200px;
    transition: all .3s;
    overflow-x: hidden;
    overflow-y: auto; }
    .items .drop-item li {
      line-height: 30px;
      padding-left: 5px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .items .drop-item li:hover, .items .drop-item li.curr {
        background-color: #dee3ed; }
    .items .drop-item::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
  .items:hover {
    border-color: #a2aebf; }
    .items:hover .triangle {
      border-color: #8590a0 transparent; }

.item-loading-disable {
  border-color: #dee3ed;
  background-color: #f9fafc;
  cursor: not-allowed; }
  .item-loading-disable:hover {
    border-color: #dee3ed; }
    .item-loading-disable:hover .triangle {
      border-color: #b6c0cf transparent; }

.item-disable {
  border-color: #dee3ed;
  background-color: #f9fafc;
  cursor: not-allowed; }
  .item-disable:hover {
    border-color: #dee3ed; }
    .item-disable:hover .triangle {
      border-color: #b6c0cf transparent; }

.item-loading-hidden {
  display: none !important; }

.item-hidden {
  display: none; }
