@import "color.scss";
body,ul,li{padding: 0;margin: 0;}

.ued-cityPicker-widget{
  position: absolute;
  background-color: $uiBg;
  font:normal 14px 'Microsoft YaHei';
  .picker-items{
    box-sizing: border-box;
    position: relative;
    float:left;
    min-width:130px;
    height:34px;
    margin:10px 10px;
    padding: 0 10px;
    border-radius: 4px;
    color: $uiFonNor;
    border: 1px solid $uiBodNor;
    &:hover{
      border-color: $uiBodHov;
      color: $uiFonNor;
    }
    &.curr{
      border-color: $uiBodCur;
      color: $uiFonCur;
    }
    &.curr:hover{
      border-color: $uiBodMix;
    }
  }
  .item-loading-disable{
    border-color: $bodDisColor;
    background-color: $uiBgDis;
    cursor: not-allowed;
    &:hover{
      border-color: $bodDisColor;
      .triangle{
        border-color: $tagColor transparent;
      }
    }
  }
  .item-disable{
    border-color: $bodDisColor;
    background-color: $uiBgDis;
    cursor: not-allowed;
    &:hover{
      border-color: $bodDisColor;
      .triangle{
        border-color: $tagColor transparent;
      }
    }
  }
  .item-loading-hidden{   //用于控制该项永不显示；
    display: none !important;
  }
  .item-hidden{
    display: none;
  }
}
.picker-items{
  .selected-item{
    display: inline-block;
    margin-right: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .triangle{
    position: absolute;
    right:5px;
    top:12px;
    width: 0;
    height:0;
    border-color: $tagColor transparent;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-radius: 4px;
    transition: all .1s;
  }
  .drop-item{
    position: absolute;
    display: none;
    top:100%;
    left:0;
    margin-top: 5px;
    border: 1px solid $bodColor;
    background-color: $uiBg;
    width:100%;
    box-sizing: border-box;
    min-height:100px;
    max-height:200px;
    color: $uiFont;
    transition: all .3s;
    overflow-x: hidden;
    overflow-y: auto;
    li{
      padding-left: 5px;
      width:100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:first-child{
        padding-left: 10px;
      }
      &:hover{
        background-color: $itemHovBg;
        color: $itemHovFont;
      }
      &.curr{
        background-color: $itemCurrBg;
        color: $itemCurrFont;
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 2px;
      border-color: #b6c0cf;
    }
    &::-webkit-scrollbar-thumb{
      height:50px;
      border-radius: 4px;
      background:#b6c0cf;
      cursor:pointer;
    }
  }
  &:hover{
    border-color: $bodHovColor;
    .triangle{
      border-color: $tagHovColor transparent;
    }
  }
}