body,ul,li{padding: 0;margin: 0;}

#chart{
  width:1000px;
  height:600px;
  margin:100px auto 0;
  padding-top: 100px;
  text-align: center;
}
.bg{
  width:1800px;
  height:900px;
  background: url("./bg.jpg") 0 0 ;
  background-size: 1800px 900px;
  margin:100px auto;
}
.ugg{
  width:70px;
  height:400px;
  display: inline-block;
  margin-left: 20px;
  position: relative;
}
