/*
 * @Author: Denzel 
 * @Date: 2018-02-04 20:34:27 
 * @Last Modified by:   Denzel 
 * @Last Modified time: 2018-02-04 20:34:27 
 */


//框架
//背景颜色
//背景底色
$bgColor: #071b29;
//模块背景色
$moduleBgColor: #122e41;
//标题背景色
$titleBgColor: #193d56;

//分割线
$segmentLine: #28495e;

//辅助色
$auxiliaryColor01: #0f293b;
$auxiliaryColor02: #18384d;
$auxiliaryColor03: #0e527c;
$auxiliaryColor04: #316a92;
$auxiliaryColor05: #00599d;
$auxiliaryColor06: #0e8cf6;
$auxiliaryColor07: #4887b7;


//字体颜色
//重要字体颜色
$primaryFontColor: #d3edff;
//默认字体颜色
$defautFontColor: #7fa3ca;
//浅蓝色字体颜色
$lightBluefontColor: #8bb8eb;
//浅蓝色字体颜色
$darkBluefontColor: #528bb2;
//橙色字体颜色
$orangefontColor: #ffcf2a;
//白色字体颜色
$wirtefontColor:#fff;





